<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Book</title>
</head>
<body>
<h1>Guest book</h1>
<div class="books">
{% if books %}
  <ul>
    {% for book in books %}
      <li>{{ book.name }} ({{ book.greetings() | count }} greetings): <a href="/books/{{book.key.id()}}">Show</a></li>
    {% endfor %}
  </ul>
{% else %}
  No books.
{% endif %}
</div>
<form action="/" method="post">
    <div>
        <input type="text" name="book_name">
    </div>
    <div>
        <input type="submit" value="Add a book">
    </div>
</form>
</body>
</html>
{% endautoescape %}